<!doctype html>
<html lang="en">
<head>
  {{ partial "head_basics.html" . }}

  <link href="/css/list.css" rel="stylesheet" type="text/css">
</head>

<body data-type="list">

<div id="listing">
  <header>
    <h1>{{ .Title }}</h1>

    {{ partial "header-nav.html" . }}
  </header>

  <section id="matter">
    {{ .Content }}
  </section>

  <ul class="pages">
  {{ range .Pages.ByPublishDate.Reverse }}
    <li>
      <span class="meta">Posted {{ .PublishDate.Format "2006-01-02" }}</span>:
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
  </ul>
</div> <!--//#listing-->

{{ partial "footer.html" . }}
</body></html>
