  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="Jonathan Zacsh's personal website" />
  <meta name="author" content="Jonathan Zacsh" />
  <meta name="keywords" content="jzacsh Jonathan Zacsh" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon"/>

  <title>{{ .Title }} | jzacsh</title>

  <!-- site analytics -->
  <!-- WARNING: keep this in sync with static/404.html -->
  <script
    async
    defer
    data-domain="j.zac.sh"
    src="https://plausible.io/js/plausible.outbound-links.js"></script>

  <!-- Merriweather:400,700 -->
  <link href='https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>

  <!--
    TODO: figure out where to put one-off custom styles...
    SOLUTION: use "leaf bundle" page for these cases; ie:
    https://gohugo.io/content-management/page-bundles/#leaf-bundles
  -->
  <link href="/css/index.css" rel="stylesheet" type="text/css">
  <link href="/css/artwork.css" rel="stylesheet" type="text/css">

  {{/*Tells client/browser about all RSS/XML feeds of this site*/}}
  {{ range .AlternativeOutputFormats -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{ end -}}
